.artist-statement {
        margin-top: 15px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .artist-statement {
        margin-top: 40px;
    }
}

@media (min-width: 992px) {
    .artist-statement {
        margin-top: 40px;
    }
}

@media (min-width: 1200px) {
    .artist-statement {
        margin-top: 0px;
    }
}

@media (min-width: 1500px) {
}
