
.align-c {
    overflow: auto;
    height: 90vh;
    top: 10%;
}

.top-push{
  top:10%;
  height: 90vh;
}

.top-push h1{
  text-decoration: underline;
}
.news-img{
  width: 100%;
  height: 90vh;
  object-fit: contain;
  overflow: hidden;
}
